body,
body.theme-default {
	--game-height: 90vh;

	--window-bg: #000;
	--board-bg: #fff2;
	--text: #fff;
	--piece-empty: transparent;
	--piece-ghost: #444;
	--piece-I: #31c7ef;
	--piece-O: #f7d308;
	--piece-T: #ad4d9c;
	--piece-S: #42b642;
	--piece-Z: #ef2029;
	--piece-J: #5a65ad;
	--piece-L: #ef7921;
	--piece-bracket: center / contain no-repeat url("/res/bracket-green.png");
	--piece-clearable-garbage: #888;
	.piece {
		// transition: 120ms;
		// transform: scale(0.7);
	}
	.piece-active {
		transform: scale(1);
	}
}
